/* Blog Details Layout */
.blog-body {
  padding: 30px;
  margin: 0;
}
.blog-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.blog-image {
  height: 45px;
  margin-top: 1.5%;
  margin-left: 10%;
}
.blog-post {
  flex: 1;
  margin-right: 20px;
  border: 1px solid #258f95; /* Add border around blog post */
  padding: 0px;
  border-radius: 8px;
}

.blog-title {
  margin-top: 25px;
  text-align: center;
  font-size: 2.1rem;
  margin-bottom: 10px;
}
.blog-text {
  font-size: 1.5rem;
}
.blog-date {
  margin-left: 5px; /* Center the date on mobile */
  text-align: left;
  margin-top: 5px;
}
.hrSeparation {
  border: 0.5px solid #258f95;
}

/* Discover Bar */
.collections-list {
  margin-bottom: 7px;
}
.collection-button {
  border: 1px solid #258f95;
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 10px;
  margin: 8px;
  cursor: pointer;
}
.collection-button:hover {
  border: 1px solid #258f95;
  background-color: #258f95;
  color: white;
}

.scroll-button {
  display: none;
}
.scroll-left {
  display: none;
}

/* Related Blogs Sidebar */
.related-blogs-section {
  width: 30%; /* Adjust the width of the related blogs section */
  padding-left: 10px;
}

.related-blogs-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.related-blogs-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.related-blogs-section h3 {
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/* Blog Card */
.blog-card {
  background-color: transparent;
  border: 1px solid #258f95;
  border-radius: 8px;
  overflow: hidden;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}

.blog-card:hover {
  box-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
    0 0 100px var(--primary-color);
}

.blog-card-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.blog-card h3 {
  font-size: 1.2rem;
  padding: 10px 15px;
  border-bottom: 1px solid #258f95;
}

.blog-card p {
  padding: 0 15px 15px;
  color: #666;
  font-size: 0.9rem;
  border-top: 1px solid #258f95;
  padding-top: 10px;
}
.injected-image-left {
  border-radius: 8px;
  max-width: 300px;
  margin: 10px 0 10px 15px;
  float: left;
}

.injected-image-right {
  border-radius: 8px;
  max-width: 300px;
  margin: 10px 0 10px 15px;
  float: right;
}

.blog-content-wrapper {
  overflow: auto;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
  .blog-image {
    height: 30px;
    margin-top: 5%;
    margin-left: 5%;
  }

  .blog-content-wrapper {
    flex-direction: column;
    padding: 15px; /* Adjust padding for smaller screens */
    min-height: 1000px;
    width: 100%;
  }
  .blog-details {
    margin: 5px;
    padding: 5px;
    margin-top: 50px;
  }
  .blog-body {
    padding: 5px;
  }
  .blog-post {
    margin-right: 0;
    padding: 5px;
  }

  .blog-title {
    font-size: 1.8rem; /* Smaller font size for titles */
    margin-top: 10px;
  }

  .blog-text {
    font-size: 0.8rem; /* Adjust text size */
  }

  .blog-date {
    margin-left: 5px; /* Center the date on mobile */
    text-align: left;
    margin-top: 5px;
  }
  .hrSeparation {
    border: 0.3px solid #258f95;
  }
  .collections-list {
    margin-left: 30px;
  }

  .collection-button {
    font-size: 0.9rem;
    padding: 5px; /* Smaller padding on buttons */
    margin: 5px;
  }

  .related-blogs-title {
    margin-left: 100%;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center; /* Center the text */
    min-height: 300px;
    width: 100%;
  }

  .related-blogs-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .related-blogs-section h3 {
    color: white;
  }
  .related-blogs-section {
    width: 30%; /* Adjust the width of the related blogs section */
    margin: 10px;
    margin-left: 20px;
  }

  .blog-card {
    background-color: transparent;
    border: 1px solid #258f95;
    border-radius: 8px;
    overflow: hidden;
    width: 300%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;
  }

  .blog-card:hover {
    box-shadow: 0 0 25px var(--primary-color), 0 0 50px var(--primary-color),
      0 0 100px var(--primary-color);
  }

  .blog-card-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .blog-card h3 {
    font-size: 0.8rem;
    padding: 10px 15px;
    border-bottom: 1px solid #258f95;
  }
  .injected-image-left {
    max-width: 150px;
    margin: 5px 0 5px 15px;
    float: left;
  }

  .injected-image-right {
    max-width: 150px;
    margin: 5px 0 5px 15px;
    float: right;
  }

  .blog-content-wrapper {
    overflow: auto;
  }
}
