/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-primary-color: #080808;
    --bg-secondary-color: #131313;
    --primary-color: #258F95;
    --text-color: white;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-primary-color);
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header Styles */
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    height: 100px;
}

.site-header img {
    width: 10vw;
    cursor: pointer;
}

.main-navigation a {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 800;
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.main-navigation a:hover,
.main-navigation a:active {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--primary-color);
    display: none;
}

/* Section Styles */
section {
    flex: 1;
    padding: 10rem 12%;
}
